<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name=description content=专门为程序员量身定制的一站式导航站，让程序员的学习、工作、娱乐更加便捷。>
    <title>宝藏</title>
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div>
    <div id="headPanel">上</div>
    <div id="leftPanel">左</div>
    <div id="rightPanel">有</div>
    <div id="footPanel" th:include="/common/foot :: common-foot"></div>

</div>


</body>
<script type="text/javascript">

</script>
</html>